processor.enable = true
# 生成辅助类的字段风格
processor.tableDef.propertiesNameStyle = orginal
# 过滤 Entity 后缀
processor.tableDef.ignoreEntitySuffixes=VO,DTO,BO,DO,DTO,PO,DAO,Mapper,Service,Controller
processor.allInTables.enable=true
processor.allInTables.package=com.example.entity.table
processor.mapper.generateEnable = true
# 开启 @Mapper 注解
processor.mapper.annotation=true
# 自定义 Mapper 的父类
processor.mapper.baseClass=com.mybatisflex.kotlin.test.mapper.EmpMapper
ksp.type.defaultColumns=array
# 生成的表对应的变量后缀
processor.tableDef.instanceSuffix=Kotlin
processor.tableDef.classSuffix=TableDef
